<nz-layout>
    <nz-header>
        <div class="logo"></div>

        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
          </ul>
    </nz-header>

    <nz-layout>
        <nz-sider
            nzCollapsible
            [(nzCollapsed)]="isCollapsed"
            [nzCollapsedWidth]="0"
            [nzZeroTrigger]="zeroTrigger1"
        >
        </nz-sider>

        <nz-content class="main">
            <div class="inner-content">
                Nest Message: {{ hello$ | async | json }}
            </div>
        </nz-content>
    
        <nz-sider
            class="right-side-sider"
            nzCollapsible
            [nzCollapsedWidth]="0"
            [nzZeroTrigger]="zeroTrigger2"
        >
        </nz-sider>
    </nz-layout>

    <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
</nz-layout>

<ng-template #zeroTrigger1>
    <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>

<ng-template #zeroTrigger2>
    <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>
