.app {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
}

.app-menu {
    font-size: 20px;
    font-weight: normal;
}

.main {
    height: 100%;
}

nz-header {
    background: #fff;
    height: 48px;
    padding: 0;
    width: 100%;
}

nz-footer {
    text-align: center;
}
