<nz-layout>
    <header nz-row nzType="flex" nzAlign="middle">
        <div nz-col nzSpan="1" class="icon">
            <i
                class="trigger"
                nz-icon
                [nzType]="isCollapsed1 ? 'right' : 'left'"
                nzTheme="outline"
                (click)="isCollapsed1 = !isCollapsed1"
            ></i>
        </div>

        <div class="middle" nz-col nzSpan="22"></div>

        <div nz-col nzSpan="1" class="icon">
            <i
                class="trigger"
                nz-icon
                [nzType]="isCollapsed2 ? 'left' : 'right'"
                nzTheme="outline"
                (click)="isCollapsed2 = !isCollapsed2"
            ></i>
        </div>
    </header>

    <nz-layout>
        <nz-sider
            nzCollapsible
            [(nzCollapsed)]="isCollapsed1"
            [nzCollapsedWidth]="0"
            [nzTrigger]="null"
            nzWidth="370px"
        >
            <div class="dcp-slider">
                <div class="dcp-slider-header">
                    <div class="title">
                        Dependent Variable (DV) Selection
                    </div>

                    <div class="form-type">
                        <nz-radio-group
                            [(ngModel)]="formType"
                            [nzButtonStyle]="'solid'"
                        >
                            <label nz-radio-button nzValue="dcp">DCP</label>
                            <label nz-radio-button nzValue="defects"
                                >Defects</label
                            >
                        </nz-radio-group>
                    </div>
                </div>

                <div class="dcp-slider-content">
                    <zsszym-dcp-form></zsszym-dcp-form>
                </div>
            </div>
        </nz-sider>

        <nz-content class="main">
            <div class="inner-content">
                <zsszym-dcp-table></zsszym-dcp-table>
            </div>
        </nz-content>

        <nz-sider
            nzCollapsible
            [(nzCollapsed)]="isCollapsed2"
            [nzCollapsedWidth]="0"
            [nzTrigger]="null"
            nzWidth="370px"
        >
            <div class="title">
                Filter
            </div>
        </nz-sider>
    </nz-layout>
</nz-layout>
